  body{
    background-color: rgb(255, 255, 255);

}

.header{
    text-align: -webkit-center;
    background-color: #1eeb5dc9;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.frmbdy{
    display: flex;
    border: outset;
    padding-block: 26px;
    border-color: red;
    flex-direction: column;
    padding-left: 23vw;
    padding-right: 18vw;
}
#CANCEL{
    vertical-align: middle;
    width: 49%;

}

#SUBMIT{
    
    vertical-align: middle;
    width: 50%;
}

.footer{
    background-color: #1eeb5dc9;
}

.btn{    
    background-color: #1eeb5dc9;
    height: 34px;
    border: hidden;

}
.btn:hover{
    cursor: pointer;
}

.txt{
    text-align: -webkit-center;
    padding-left: 15vw;
    padding-right: 15vw;
}

#name{
    padding-left: 3vw;
    padding-right: 2.6vw;
}

#stid{
    padding-left: 1vw;
    padding-right: 1.6vw;
}

#deplab{
    padding-left: 0.5vw;
    padding-right: 1.2vw;
}

#semBtch{
    padding-right: 3vw;
}

.rsn{
    display: flex;
    flex-direction: column;
    padding-top: 1vw;
}

#r1{
    margin-bottom: 12px;
}

#r2{
    margin-bottom: 12px;
}

#r3{
    margin-bottom: 12px;
}

#r4{
    margin-bottom: 12px;
}

@media screen and (max-width:500px){
   .main{
    height: 60px;
   }
}